body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3bbcd9;
  text-align: center;
}

nav {
  background-color: #f24141;
  height: 60px;
  text-align: left;
}

a {
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  position: relative;
  top: 15px;
}

a:hover {
  color: #f2b705;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  width: 90%;
  height: 200px;
  border-radius: 10%;
}

.descriptionImg {
  width: 90%;
  height: 700px;
  border-radius: 10%;
}

.container {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.style {
  border: 2px solid black;
  border-radius: 10%;
  text-align: center;
  padding-bottom: 10px;
}

#highlight:hover {
  background-color: #f2b705;
  text-decoration: underline;
}

body {
  background-color: #3bbcd9;
}
