body {
  font-family: 'Poppins';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3bbcd9;
  text-align: center;
  margin: 0;
}

nav {
  display: flex;
  font-family: 'Ramabhadra';
  justify-content: space-around;
  background-color: #f24141;
  background-color: #a65665;
  height: 60px;
  /* text-align: left; */
}

/* Nav Drop Down Menu */
.dropdown {
  overflow: hidden;
}

.dropdown .drop-button {
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}

.drop-down-links {
  display: none;
  position: absolute;
  background-color: #a73333;
  z-index: 1;
}

.drop-down-links a {
  float: none;
  color: #f2f2f2;
  margin: 5px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .drop-down-links {
  display: block;
}

a {
  margin: 0 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  position: relative;
  top: 15px;
}

a:hover {
  color: #f2b705;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  grid-column: content;
  overscroll-behavior-x: contain;
}

.img {
  width: 90%;
  height: 200px;
  border-radius: 10%;
}

.descriptionImg {
  width: 90%;
  height: 700px;
  border-radius: 10%;
}

.container {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 97vw;
  height: 500px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container::before {
  content: '';
  position: absolute;
  margin-top: 250px;
  height: 320px;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: fill;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(21, 44, 250, 0.975) 80%
  );
  width: 8%;
}

.container:after {
  content: '';
  position: absolute;
  margin-top: 250px;
  height: 320px;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: fill;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(21, 44, 250, 0.974) 80%
  );
  width: 8%;
  padding: auto;
}

.style {
  border: 2px solid black;
  border-radius: 10%;
  text-align: center;
  padding-bottom: 10px;
  height: 300px;
  width: 300px;
  background-color: #999df2;
  margin: 10px;
  font-family: 'Poppins';
  font-weight: 600;
}

#highlight:hover {
  background-color: #f2b705;
  text-decoration: underline;
  box-shadow: 0px 0px 20px 5px #f2b705;
  transform: scale(1.1);
  padding: 10px;
  transition: 1.2s;
}

body {
  background-color: #3bbcd9;
}

input {
  margin: 30px;
}

label {
  margin: 15px;
  display: block;
  font-size: 20px;
}

input {
  margin-left: 5px;
  height: 17px;
}

button {
  background-color: rgb(118, 33, 230);
  border-radius: 8px;
  color: white;
  width: 130px;
  height: 40px;
  border: 4px double #cccccc;
  margin: 5px;
  font-size: 14px;
}

button:hover,
button:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
  background-color: #f2b705;
}
